<!DOCTYPE html>
<html>

<head>
  <title>Vue.js Pet Depot</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="app.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <meta charset="UTF-8">
</head>

<body>
  <div class="container">
    <div id="app">
      <header>
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
               <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                      
                      <!-- Имя приложения через v-text -->
                      <h1 v-text="sitename"></h1>
                  
                  </a>

                  <div class="navbar-collapse collapse" >

                      <!-- Кнопка корзины  inline -->
                      <button type="button" 
                              class="btn btn-primary"
                              v-on:click="showCheckout"
                      >
                          <span class="glyphicon glyphicon-shopping-cart">
                            {{ cartItemCount }}
                          </span>
                        Корзина
                      </button>
                  
                  </div>
               </div>
            </nav>
      </header>


      <main>
        <div v-if="showProduct">
          <div v-for="product in products"> <!-- sortedProducts -->
            <div class="row">
              <div class="col-md-5 col-md-offset-0">
                <figure>
                  <img class="product" v-bind:src="product.image">
                </figure>
              </div>
              <div class="col-md-6 col-md-offset-0 description">
                <h1 v-text="product.title"></h1>
                <p v-html="product.description"></p>
                <p class="price">
                  {{product.price | formatPrice}}
                </p>
                <button class="btn btn-primary btn-lg" v-on:click="addToCart(product)" v-if="canAddToCart(product)">Добавить в корзину</button>
                <button disabled="true" class=" btn btn-primary btn-lg" v-else>Добавить в корзину</button>
                <span class="inventory-message" v-if="product.availableInventory - cartCount(product.id) === 0">Все закончилось!
                </span>
                <span class="inventory-message" v-else-if="product.availableInventory - cartCount(product.id) < 5">
                  Осталось только {{product.availableInventory - cartCount(product.id)}} шт!
                </span>
                <span class="inventory-message" v-else>Купить сейчас!
                </span>

                <!-- Пример задания класса через конструкцию v-bind:class -->
                <div class="rating">
                  <span v-bind:class="{'rating-active' :checkRating(n, product)}" v-for="n in 5">☆
                  </span>
                </div>
              </div>
              <!-- end of col-md-6-->
            </div>
            <!-- end of row-->
            <hr />
          </div>
          <!-- end of v-for-->
        </div>
        <!-- end of showProduct-->

        <div v-else>
         
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-info">
                <div class="panel-heading">Pet Depot Checkout</div>
                <div class="panel-body">

                  <div class="form-group">
                    <div class="col-md-12">
                      <h4>
                        <strong>Enter Your Information</strong>
                      </h4>
                    </div>
                  </div>
                  
                  <div class="col-md-6">  
                  <strong>Имя:</strong>
                  <input v-model.trim.lazy="order.firstName" class="form-control">
              </div>
              <div class="col-md-6">  
                  <strong>Фамилия:</strong>
                  <input v-model.trim="order.lastName" class="form-control">
              </div>
              <div class="form-group">
                  <div class="col-md-12"><strong>Адрес:</strong></div>
                  <div class="col-md-12">
                    <input v-model="order.address"
                           class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-12"><strong>Город:</strong></div>
                  <div class="col-md-12">
                    <input v-model="order.city"
                           class="form-control">
                  </div>
              </div>

              <!-- Циклы: Декриктива (v-for) -->
              <div class="form-group">
                
                  <div class="col-md-2">
                      <strong>Штат:</strong>
                      <select v-model="order.state"
                             class="form-control">
                              <option disabled value="">Штат</option>
                              <option v-for="(state, key) in states"
                                      v-bind:value="state">
                                      {{ key }}
                              </option>
                             </select>
                  </div>
              </div>

              <!-- Применение модификатор после модели 
                    
                    После применения можификтора number в html будут выводиться числа,
                    тогда как по умолчанию выводятся строки:
                      {{ typeof(order.zip) }}
              -->
              <div class="form-group">
                  <div class="col-md-6 col-md-offset-4">
                      <strong>Потчовый индекс:</strong>
                      <input v-model.number="order.zip"
                             class="form-control">
                  </div>
              </div>

              <!-- Флажки и переключатели -->
              <!-- v-bind:value позволяет изменять отображение по значению  -->
              <div class="form-group">
                  <div class="col-md-6 boxes">
                      <input type="checkbox"
                              id="gift" value="true"
                              v-bind:true-value="order.sendGift"
                              v-bind:false-value="order.dontSendGift"
                              v-model="order.gift">
                      <label for="gift">Упаковать как подарок?</label>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-6 boxes">
                      <input type="radio"
                              id="home" 
                              value="Home"
                              v-bind:value="order.home"
                              v-model="order.method">
                      <label for="Home">Домашний</label>
                      <input type="radio"
                              id="business" 
                              value="Busines"
                              v-bind:value="order.business"
                              v-model="order.method">
                      <label for="Bussines">Рабочий</label>
                  </div>
              </div>        

              <div class="col-md-6 verify"> 
                  <pre>
Имя: {{ order.firstName }}
Фамилия: {{ order.lastName }}
Адрес: {{ order.address }}
Город: {{ order.city }}
Почтоый индекс: {{ order.zip }} ( {{ typeof(order.zip) }} ) 
Штат: {{ order.state }}
Упаковка: {{ order.gift }}
Домашний / Рабчий: {{ order.method }}
                  </pre>
              </div>
              
              <div class="form-group">
                  <div class="col-md-6">
                      <button type="sumbit"
                              class="btn btn-primary submit"
                              v-on:click="submitForm">
                              Place Order
                      </button>
                  </div>
              </div>
                </div>
                <!--end of panel-body-->
              </div>
              <!--end of panel panel-info-->


            </div>
            <!--end of col-md-10 col-md-offset-1-->
          </div>
          <!--end of row-->

        </div>
      </main>
    </div>
    <!-- end of app-->
  </div>

  <script src="app.js"></script>
</body>
</html>